:root {
  --color-background:#F3F3F3;
  --color-background-nav:#2B3D50;
  --color-background-nav-itens:#3c4a58;
  --color-background-footer:#2B3D50;
  --color-background-home:#344960;
  --color-text-light:#EDEDED;
  --color-text-title:#313131;
  --color-text-dark:#302e2e;
  --color-text-category:#2B3D50;
  --color-text-normal:#6E6E6E;
  --color-background-button:#2B3D50;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body{
  background-color: var(--color-background);
}

a{
  text-decoration: none;
  transition: 0.2s opacity;
}

a:hover{
  opacity: 0.8;
}

